.project-details {
	display: grid;
	grid-template-columns: 3fr 2fr;
	align-items: start;
	grid-gap: 60px;
}

/* project summary */
.project-summary {
	background-color: var(--white);
	padding: 30px;
	border-radius: 4px;
	border-left: 4px solid var(--accent-color);
}
.project-summary .due-date {
	color: rgb(191, 191, 191);
	font-size: var(--small);
}

.project-summary h2 {
	font-size: var(--heading);
	color: var(--accent-color);
	font-weight: 500;
}
.project-summary .details {
	margin: 30px 0;
	color: var(--text-color);
	line-height: 1.8em;
	font-size: var(--primary);
}
.project-summary h4 {
	color: var(--text-color);
	font-size: var(--small);
}
.project-summary .assigned-users {
	display: flex;
	margin-top: 10px;
}
.project-summary .assigned-users .avatar {
	margin-right: 10px;
	border: 2px solid var(--accent-color);
	width: 2em;
	height: 2em;
}
.project-summary + .btn {
	margin-top: 20px;
}

/* project comments */
.project-comments label {
	margin-bottom: 0px;
}
.project-comments textarea {
	min-height: 2em;
	font-size: 1em;
}
.project-comments span {
	font-size: var(--primary);
	color: var(--accent-color);
}

/* comment list */
.project-comments h4 {
	color: rgb(191, 191, 191);
	font-size: var(--primary);
}
.project-comments li {
	padding: .8em;
	border-radius: 4px;
	border: 1px solid #f2f2f2;
	margin-top: 1.5em;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
	background: #fff;
}
.comment-author {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: var(--primary);
	color: var(--accent-color);
}
.comment-author .avatar {
	width: 1.5em;
	height: 1.5em;
	margin-right: .3em;
}
.comment-date {
	color: rgb(191, 191, 191);

	font-size: var(--small);
	margin: 4px 0 10px;
}

.createdBy {
	color: var(--text-color);
	font-size: var(--small);
	margin: 4px 0 2px;
}

.comment-content {
	color: var(--text-color);
	font-size: var(--primary);
}

/* comments scrollbar */
.project-comments {
	max-height: 800px;
	overflow: auto;
	padding-right: 20px;
	/* firefox scrollbar style */
	scrollbar-width: 20px;
	scrollbar-color: #fff #e4e4e4;
}
/* Chrome, Edge, and Safari scrollbar styles */
.project-comments::-webkit-scrollbar {
	width: 6px;
}
.project-comments::-webkit-scrollbar-track {
	background: #fff;
}
.project-comments::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid #e4e4e4;
}
