.user-list {
	width: 11em;
	min-width: 11em;
	padding: 30px;
	background: var(--secondary-color);
	color: var(--highlight-color);
	font-size: 1rem;
}

.user-list h2 {
	text-align: right;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 40px;
	font-size: 1rem;
}

.user-list .user-list-item {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 20px auto;
}
.user-list .avatar {
	margin-left: .7em;
	width: 2em;
	height: 2em;
}

/* online users */
.user-list .online-user {
	display: inline-block;
	margin-right: .4em;
	width: .4em;
	height: .4em;
	background: #09e35d;
	border-radius: 50%;
}

.online {
	color: var(--accent-color);
}
