.project-list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	grid-gap: 1em;
}

.project-list a {
	text-decoration: none;
	color: inherit;
	background: var(--white);
	border-radius: 16px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 1em;
	transition: all .3s ease;
}

.project-list a:hover {
	transform: scale(1.03);
}
.project-list h4 {
	font-size: var(--primary);
	color: var(--accent-color);
}
.project-list p {
	color: var(--text-color);
	font-size: var(--primary);
}
.project-list .assigned-to {
	margin-top: 1em;
}

.project-list .due-date {
	color: rgb(191, 191, 191);
	font-size: var(--small);
}

.project-list .assigned-to p {
	font-size: var(--small);
	margin-bottom: .5em;
}

.project-list ul {
	display: flex;
	margin-bottom: 0;
}
.project-list li {
	margin-right: 10px;
}
.project-list .avatar {
	width: 30px;
	height: 30px;
}
