.navbar {
	width: 100%;
	padding: 30px 0px;
	margin-bottom: 80px;
}

.navbar ul {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-end;
}

.navbar .logo {
	font-weight: bold;
	color: var(--heading-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	font-size: 1.2rem;
}

.logo_layout {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .logo img {
	margin-right: .3em;
	width: 2rem;
}

.navbar a {
	color: var(--heading-color);
	font-size: 1rem;
	text-decoration: none;
	margin-right: 1.5em;
}
